<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jianing Shi">
    <meta name="description" content="Jianing Shi professional website">
    <meta name="keywords" contend="Carnegie Mellon University, Information Systems">
    <title>Jianing Shi</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Jianing Shi</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr><th>Name</th><th>Description</th></tr>
            <tr><td>Nanjing Foreign Language School</td><td>
                <li>AP Psychology</li>
                <li>AP Differential and Integral Calculus BC</li>
                <li>AP Principles of Computing</li>
                <li>AP Statistics</li>
                <li>High School Elementary Chemistry</li>
                <li>High School Elementary Physics</li>
            </td></tr>
            <tr><td>Carnegie Mellon University</td><td>
                <li>Principles of Imperative Computations</li>
                <li>Database Design and Development</li>
                <li>Designing Human Centered Software</li>
                <li>Foundation of Software Engineering</li>
                <li>Principles of Functional Programming</li>
                <li>Application Design and Development</li>
            </td></tr>
        </table>
        <a href="../static/my_resume.pdf" target="_blank">My resume - pdf version</a>
            
    </div>
    
    <footer>
        <p id="copyYear">Jianing Shi &copy</p>
    </footer>    
</body>
</html>
