<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jianing Shi">
    <meta name="description" content="Jianing Shi professional website">
    <meta name="keywords" contend="Carnegie Mellon University, Information Systems">
    <title>Jianing Shi</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Jianing Shi</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html" class="active">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    
    <div class="main">
        <h2 id="greeting"></h2>
        <img src="../static/photo_of_me.png" alt="Jianing Shi profile image" width="350px">
        <div class="classA">
            <span id="shortIntro">I'm Jianing Shi. I come from Nanjing, China</span>
            <span id="readMore"> read more ...</span>
            <span id="longIntro">I'm Jianing Shi. I come from Nanjing, China. I'm currently a sophomore at Carnegie 
                Mellon University, majoring in Information Systems, a field with unique blend of technology, 
                business, and user experience design. My passion for this discipline STEM comes from a profound 
                interest in leveraging technology to solve real-world problems, making systems more efficient, 
                and improving people's lives. Outside the classroom, I love dancing and singing. Dancing is a 
                way of expressing and stress-relief for me. Now I'm a member of KPDC(kpop club) and dance's 
                symposium at CMU. This balance between analytical thinking in my academic pursuits and creative 
                expression through dance defines who I am. It's a journey of continuous learning, self-discovery, 
                and pushing boundaries, both in the realm of Information Systems and the art of dance.</span>
            <span id="readLess"> read less</span>
            <!-- <p id="intro">I'm Jianing Shi. I come from Nanjing, China. I'm currently a sophomore at Carnegie 
                Mellon University, majoring in Information Systems, a field with unique blend of technology, 
                business, and user experience design. My passion for this discipline STEM comes from a profound 
                interest in leveraging technology to solve real-world problems, making systems more efficient, 
                and improving people's lives. Outside the classroom, I love dancing and singing. Dancing is a 
                way of expressing and stress-relief for me. Now I'm a member of KPDC(kpop club) and dance's 
                symposium at CMU. This balance between analytical thinking in my academic pursuits and creative 
                expression through dance defines who I am. It's a journey of continuous learning, self-discovery, 
                and pushing boundaries, both in the realm of Information Systems and the art of dance.</p>    -->
        </div>
    </div>
    
    <footer>
        <p id="copyYear"> Jianing Shi &copy</p>
    </footer>    
</body>
</html>
